<div class="container">
  <h2>Orders</h2>
  <div class="buttons">
    <div class="page-buttons">
      <button routerLink="/orders">Customers</button>
      <button routerLink="/orders">Orders</button>
      <button routerLink="/new-order">New Order</button>
    </div>
    <div class="page-buttons db-setting-btns">
      <button (click)="logout()">Logout</button>
    </div>
  </div>

  <div>
    <div class="save-order-area">
      <app-new-order [incomingOrder]="order"></app-new-order>
    </div>
  </div>
</div>
