<div class="container">
  <app-header *ngIf="!hideHeader" pageTitle="New Order"></app-header>

  <div>
    <div class="save-order-area">
      <form>
        <div>
          <label for="customerId">Select Customer</label>
          <select
            id="customerId"
            name="customerId"
            [(ngModel)]="order.customerId"
            required
          >
            <option *ngFor="let customer of customers" [value]="customer.id">
              {{ customer.id }} - {{ customer.firstName }} {{ customer.lastName }}
            </option>
          </select>
        </div>
        <div>
          <label for="billingAddress">Billing Address:</label>
          <input
            type="text"
            id="billingAddress"
            name="billingAddress"
            [(ngModel)]="order.billingAddress"
            required
          />
        </div>
        <div>
          <label for="shippingAddress">Shipping Address:</label>
          <input
            type="text"
            id="shippingAddress"
            name="shippingAddress"
            [(ngModel)]="order.shippingAddress"
            required
          />
        </div>
        <div class="save-order-btn">
          <button type="button" (click)="saveOrder()">Save Order</button>
        </div>
      </form>

      <div *ngIf="!order.id">
        <label>Save Order to see products.</label>
      </div>
      <div *ngIf="!!order.id">
        <div>
          <table>
            <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of order.products">
              <td>{{ product.name }}</td>
              <td>{{ product.price }}</td>
              <td>{{ product.size }}</td>
              <td>
                <button (click)="increaseProductSize(product.id)">+</button>
                <button (click)="decreaseProductSize(product.id)">-</button>
              </td>

            </tr>
            </tbody>
          </table>
        </div>

        <app-product [productList]="order.products" [hideActions]="true"
                     (onProductSelected)="onProductSelected($event)"/>
      </div>
    </div>
  </div>
</div>
