<div class="container">
  <app-header pageTitle="Orders"></app-header>
  <div class="buttons">
    <div class="page-buttons">
      <button routerLink="/new-order">New Order</button>
    </div>
  </div>
  <div>
    <table>
      <thead>
      <tr>
        <td>Customer Id</td>
        <td>Shipping Address</td>
        <td>Billing Address</td>
        <td>Total Price</td>
        <td></td>
        <td></td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.customerId }}</td>
        <td>{{ order.billingAddress }}</td>
        <td>{{ order.shippingAddress }}</td>
        <td>{{ order.totalPrice }}</td>
        <td>
          <button (click)="editOrder(order.id)">Edit</button>
        </td>
        <td>
          <button (click)="deleteOrder(order.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
